
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    background-color: rgb(240, 245, 239);
}

.hero {
    background-color: black; 
    height: 100vh;
    color: white;
    font-size: 40px;
}
.sub-section {
    background-color: grey;
}

footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    color: blueviolet;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 30px;
    color: blueviolet;
}
li{
    width: 200px;
    text-decoration: none;
}
h1{
    font-size: 90px;
    margin: 0;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    color: rgba(213, 7, 7, 0.816);
}
p{
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}
.subtext {
    font-size: 15px;
    font-weight: 300px;
}
.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.hero-text {
     margin-left: 80px;
     margin-bottom: 200px;
     
}
.button {
    width: 800px;
    height: 80px;
    border-radius: 30px;
    font-size: 30;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 7px;
    background-color: transparent;
    text-align: left;

}
.button:hover{
    background-color: black;
}
.button:active {
    background-color: darkgrey;
    color: lightgreen;
}
.socials {
    padding-bottom: 200px;
}
.social {
    margin: 10px;
}
.headshot {
    width: 300px;
    border-radius: 150px;
}
.headshot-container {
    display: flex;
    align-items: center;
}
.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px green;
    margin: 10px;
}
.project-card1 {
    width: 500px;
    height: 800px;
    box-shadow: 5px 5px 20px green;
    margin: 10px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.project-image {
    width: 250px;
    border-radius: 125px;
    margin-top: 25px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
.project-link {
    text-decoration: none;
    color: red;
}
a {
    text-decoration: none;
    color: white;
}
.hero a:hover {
    color: greenyellow;
}

